*{
    font-family: "IBM Plex Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
--background-light: #eaf4ff;
--background-dark: #050e19;
--element-light: #99caff;
--element-dark: #1e5a99;
--text-light: #c1dfff;
--text-dark: #0a1d32;
}


.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 90px;
  height: 100%;
  padding: 20px;
  text-align:center;
}

a{
  text-decoration: none;
  color: #333;
}
.link {
  border-radius:100px;
  margin:10px 20px 0px 20px;
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link.active {
  margin:10px 0px 0px 0px;
  padding:10px 30px;
  background-color:var(--text-light);
}

.fab {
  border-radius:24px;
  margin:15px;
  display: block;
  padding: 20px;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
  background-color:var(--element-light);
  height:24px;
  width:24px;
}

.fab.active {
  border-radius:24px;
  margin:10px;
  padding: 25px;
  height:24px;
  width:24px;
  background-color:var(--element-light);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  
}

.content {
  margin-left: 90px;
  padding:0px 40px;
  padding-right:0px;
}

section {
  margin-bottom: 20px;
  width:calc(100vw - 170px);
  background-color:#fff8;
  border-radius:24px;
  padding:8px 16px 16px 16px;
  border: 1px #0003 solid;
}
.material-symbols-outlined{
vertical-align: -7px;
}
.head{
  margin: 0;padding: 8px;display: flex;justify-content: center;align-items: center;display: flex;flex-wrap: wrap;text-align: right;
}
iframe{
  width:100%;
  height:calc(100% - 25px);
  border-radius:8px 8px 16px 16px;
  border:none;
  background:var(--background-light);
}
.last{
  height:calc(100vh - 330px);
}
.searchbox{  background: var(--text-light);  border-radius:100px;  padding:10px;height:60px;margin-bottom:50px;margin-top:5px;}

.txt-i{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);text-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);padding:0;margin:0;font-size:25px;
}

button{border:none;background:none;margin:0px;color:var(--element-dark);
}

input[type=search]{background:none;padding:8px 8px 8px 16px;border:none;outline: none;height:58px;color:#000;width: 400px;margin-right:5px;font-size:40px;
  
}

input::-webkit-search-cancel-button {    appearance: none;  }

.submit{background-color:none ;color: var(--element-dark);padding:8px 16px 5px 16px;position:relative;bottom:56px;
  left:5px;
}

.colormodal{
position: absolute;
      right: 40px;   /* 右から40px */
      top: 50px;
}

#Modal{
  border:none;
  border-radius:16px;
  padding:8px;
  text-align:left;
  background:var(--background-light);
}
#Modal::backdrop{
  
  background:#0005;
}

@media (prefers-color-scheme: dark) {
  button{
    color:var(--element-light);
  }
  a,.link{
    color:#ddd;
  }
  .fab,.fab.active{
    color:var(--element-light);
    background:var(--element-dark);
  }
  .link.active{
    color:var(--text-light);
    background:var(--element-dark);
  }
  
  iframe{
  background:var(--background-dark);
}
  section {
  background-color:var(--text-dark);
  border: 1px #fff3 solid;
}
  .searchbox{
    background:var(--text-dark);
}
  input[type=search]{
    color:#fff;
  }
  .submit{
    color:var(--element-light);
  }
  #Modal{
    background:var(--background-dark);
    color:#fff;
  }
}

